.field {
    padding-bottom: 0.5rem;
    font-size: 1.3em;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input {
    width: 100%;
    font-size: 1.3em;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.fieldError label {
    color: red;
}

.fieldError input {
    border: 5px solid red;
}