.content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.options button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: var(--lightgreen);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--darkgreen);
    margin: 0 24px;
  }
  
.options button:hover {
    background-color: var(--green);
}
  
.options button:active {
    background-color: var(--green);
    box-shadow: 0 5px var(--darkgreen);
    transform: translateY(4px);
}

.logo {
    min-width: 40%;
    margin-bottom: 24px;
    image-resolution: 600dpi;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 24px auto;
    padding: 52px;
    border-radius: 52px;
    box-shadow: -5px 10px var(--darkgreen);

    background-color: var(--lightgreen);
}

.text h2 {
    text-align: center;
    font-size: 2em;
}

.text p {
    text-align: center;
    font-size: 1.5em;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 24px;
}

.links img {
    width: 90px;
}