.content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

.options {
    display: flex;
    flex-direction: row;
}

.logo {
    min-width: 40%;
    image-resolution: 600dpi;
}

.about {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 52px 0;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    padding: 52px;
    border-radius: 52px;
    box-shadow: -5px 10px var(--darkgreen);

    background-color: var(--lightgreen);
}

.text h2 {
    text-align: center;
    font-size: 2em;
}

.text p {
    text-align: center;
    font-size: 1.5em;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 24px 0;
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
}

.links img {
    width: 150px;
    height: 150px;
    padding: 15px;
    
}

.alura {
    background-color: var(--blue);
}
.alura:hover {
    background-color: var(--darkblue);
}

.unity {
    background-color: var(--superlightgray);
}
.unity:hover {
    background-color: var(--lightgray);
}