.background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    padding: 24px 0;
}

.profile{
    display: flex;
    flex-wrap: wrap;

    padding: 24px;
    max-width: 70%;
    margin: 0 auto;

    border-radius: 52px;
    box-shadow: -5px 10px var(--darkgreen);
    background-color: var(--lightgreen);
}

.infos {
    flex-grow: 1;
    margin: 0 5%;
}

.char img{
    margin-left: 2%;
    border: 10px solid white;
}

.username {
    padding: 10px 24px;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 5px solid var(--lightorange);
}

.time {
    padding-top: 52px;
    text-align: center;
    font-size: 2.2em;
    color: white;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}