.profile{
    width: 70%;
    display: flex;

    padding: 24px;
    margin: 12px auto;

    border-radius: 52px;
    box-shadow: -5px 10px var(--darkgreen);
    background-color: var(--lightgreen);
}

.infos {
    width: 100%;
    margin-left: 12px;
}

.char img{
    border-radius: 25px;
}

.username {
    padding: 10px 24px;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 5px solid var(--lightorange);
}

.time {
    padding: 52px;
    text-align: center;
    font-size: 2.2em;
    color: white;
}

.options {
    display: flex;
    justify-content: center;
}

.options button {
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: var(--lightorange);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--darkorange);
    margin: 0 24px;
  }
  
.options button:hover {
    background-color: var(--orange);
}
  
.options button:active {
    background-color: var(--orange);
    box-shadow: 0 5px var(--darkorange);
    transform: translateY(4px);
}