.header {
    position: fixed;
    top: 0;
    width: 100%;

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: var(--gray);
    padding: 12px 16px;
    transition: 0.3s linear;
}

.hidden {
    top: -100px;
    transition: 0.3s linear;
}

.logo {
    width: 15%;
}

.navbar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    margin: 0 12px;
}

.navbar a{
    text-decoration: none;
    color: var(--darkgray);
    margin-left: 24px;
    font-size: 1.2em;
}

.navbar a:hover,
.exit:hover {
    color: var(--lightorange);
}

.right {
    margin-left: auto;
}

.exit {
    border: none;
    background-color: #00000000;
    color: var(--darkgray);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}