.characters {
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    padding: 24px;
    margin: 24px auto;

    border-radius: 52px;
    box-shadow: -5px 10px var(--darkgreen);
    background-color: var(--lightgreen);
}

.characters button {
    display: flex;
    align-items: center;
    margin: 5px;
    border: none;
    border-radius: 25px;
    background-color: var(--orange);
}

.characters img{
    width: 170px;
    border-radius: 25px;
}

.characters img:hover {
    border: 5px solid var(--orange);
}